@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	background: #171719;
	color: white;
	font-family: 'Bebas Neue', cursive;
	box-sizing: border-box;
}

.myTextStroke {
	-webkit-text-stroke: 1px #ffffff;
}

.blended {
	mix-blend-mode: exclusion;
}

.lineSvg {
	background: transparent;
	position: absolute;
	top: -501px;
	right: -422px;
	mix-blend-mode: lighten;
}

.tbody::-webkit-scrollbar {
	width: 3px;
	padding-left: 28px;
}

.tbody::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.tbody::-webkit-scrollbar-thumb {
	background: #e75626;
}
